{# Simple text input for link types #}
<div class="field">
    <div class="input">
        <input type="text"
               class="text fullwidth"
               name="{{ name }}"
               value="{{ value }}"
               placeholder="{{ placeholder }}">
    </div>
</div>
